* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* outline: 1px solid lime; */
}
:root {
  /* --fondo: #fff;
  --texto: #000; */
  --fondo: #000;
  --texto: #fff;
}
nav {
  width: 100%;
  background-color: var(--fondo);
  position: absolute;
}
nav a {
  color: var(--texto);
  text-decoration: none;
}
nav i {
  color: var(--texto);
  font-size: 2em !important;
  width: 42px;
  /* border: 1px solid #eee !important; */
  padding: 5px !important;
  text-align: center !important;
  cursor: pointer;
}
nav header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav > div {
  z-index: 1;
  width: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  background-color: var(--fondo);
}
nav div a {
  padding: 20px;
}
nav div div {
  display: flex;
  flex-direction: row;
}
nav div div i {
  width: 42px;
  text-align: center;
}
.visibility-v {
  visibility: visible;
  opacity: 1;
}

/* main ----------------------------- */
main {
  top: 82px;
  /* margin: 20px; */
  padding: 20px;
  position: absolute;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
main h1 {
  font-size: 2em;
  padding-bottom: 20px;
  line-height: 150%;
}
main p {
  line-height: 200%;
  padding-bottom: 20px;
}
main button {
  padding: 10px;
  background-color: var(--fondo);
  color: var(--texto);
  border: 2px solid transparent;
  border-radius: 3px;
  transition: all 0.2s ease;
  opacity: 0.8;
  cursor: pointer;
}
main button:hover {
  opacity: 1;
}
/* main ----------------------------- */














@media only screen and (min-width: 715px) {
  nav header{
    height: 82px;
    width: 20%;
  }
  #navbar-toggler {
    display: none;
  }
  #nav-dropdown {
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    width: 80%;
    top: 0;
    left: 20%;
    justify-content: flex-end;
  }
  main div {
    width: 60%;
    /* height: 100%; */
    /* background-color: red; */
  }
  main h1 {
    font-size: 4em;
  }
}

